.contact-form-sec-wrp{
	padding-top: 72px;
	padding-bottom: 95px;
}
.contact-form-dsc-wrp{
	padding-bottom: 55px;
}
.contact-form-dsc{
	max-width: 880px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 55px;
}
strong.contact-page-entry-title{
	display: inline-block;
	vertical-align: baseline;
	font-size: 48px;
	line-height: 50px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 20px;
}
.contact-form-dsc-wrp .ftr-contact-info{
	border-top: 2px solid #F3F3F3;
	border-bottom: 2px solid #F3F3F3;
	padding-top: 45px;
	padding-bottom: 45px;
}
/*
---------------------
 Contact Form
---------------------
*/
.cr-contact-form-block-wrp{
	max-width: 910px;
	width: 100%;
	margin: 0 auto;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container:after,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container:before{
	content: "";
	clear: both;
	display: table;
}
.contact-form-wrp  div.wpforms-container-full .wpforms-form .wpforms-field{
	clear: initial;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field{
	width: 50%;
	float: left;
	padding: 0 12px;
	margin-bottom: 28px;
	position: relative;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .subjectField{
	width: 100%;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container{
	margin: 0 -12px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label{
	display: inline-block;
	vertical-align: baseline;
	width: 100%;
	margin: 0;
	font-size: 16px;
	line-height: 18px;
	font-weight: 600;
	text-transform: capitalize;
	color: #000000;
	margin-bottom: 10px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input{
	width: 100%;
	max-width: 100%;
	height: 64px;
	background: #FFFFFF;
	border: 1px solid #DADADA;
	box-sizing: border-box;
	padding: 17px 18px 18px;
	color: #A5A4A4;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	border-radius: 0;
}

.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .StraatField{
	width: 74%;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .NrField{
	width: 26%;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea{
	width: 100%;
	margin-bottom: 20px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea{
	width: 100%;
	height: 316px;
	background: #FFFFFF;
	border: 1px solid #F3F3F3;
	box-sizing: border-box;
	color: #ACABAB;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	padding: 22px 18px;
	resize: none;
	border-radius: 0;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea:focus,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:focus{
	border-color: #c0bebe;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-html{
	width: 100%;
	margin-bottom: 10px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-html p{
	font-size: 14px;
	line-height: 16px;
	color: #A5A4A4;
	font-style: italic;
	font-weight: 400;
	text-align: center;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button{
	max-width: 300px;
	width: 100%;
	height: 56px;
	border: 2px solid #C01718!important;
	background: #C01718;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
	display: table;
	margin: 0 auto;
	padding: 16px 0 16px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button:hover{
	background: transparent;
	color: #C01718;
	border-color: #C01718 !important;
}

.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error label.wpforms-error {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #C01718;
    position: absolute;
    right: 15px;
    top: 2px;
    text-align: right;
    width: auto;
    font-weight: 400;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input{
    border: 1px solid #DB4655 !important;
    position: relative;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error{
	position: relative;
}

.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

/*
-------------------------
 Input type checkbox Css
-------------------------
*/
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox{
	width: 100%;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox label.wpforms-field-label{
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 35px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 600;
	color: #000000;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul{
	width: 100%;
	float: left;
	padding-right: 10px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li {
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 30px !important;
    padding-right: 20px !important;
    width: 50% !important;
    position: relative;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li:before{
	content: none;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li.wpforms-selected input[type="checkbox"]{
	border: 2px solid #293377;
	color: #293377;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li.wpforms-selected label{
	color:#293377; 
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li input[type="checkbox"]{
	width: 0;
	height: 0;
	margin: 0;
	border-radius: 0;
	position: absolute;
	left: 0;
	top: 4px;
	bottom: 0;
	opacity: 0;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li label{
	font-size: 16px;
	line-height: 18px;
	font-weight: 600;
	color: #464646;
	margin: 0;
	padding-left: 35px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li label:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    left: 0;
    top: 4px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li.wpforms-selected label:before{
	border:2px solid #293377;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li label:after{
	display: block;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li.wpforms-selected label:after {
    left: 7px;
    top: 7px;
    width: 5px;
    height: 9px;
    border: solid #293377;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    content: "";
}

/*
-----------------------
 Thank You
-----------------------
*/
.contact-msg-wrp{
	max-width: 870px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.contact-msg-title{
	margin: 0;
	margin-top: 40px;
	margin-bottom: 45px;
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	line-height: 42px;
	font-weight: 700;
	display: block;
}
.contact-msg-wrp p{
	margin-bottom: 25px;
}
.contact-msg-wrp span{
	display: block;
	font-size: 16px;
	line-height: 18px;
	color: #c63435;
	font-weight: 400;
	padding-bottom: 57px;
}
.contact-msg-wrp a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	font-weight: 600;
	color: #293377;
	position: relative;
	padding-left: 25px;
}
.contact-msg-wrp a i{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
}
.contact-msg-wrp a:hover{
	color: #C01718;
}
.contact-msg-wrp a:hover i{
	left: -5px;
}
.contact-msg-wrp a:hover i svg{
	fill: #C01718;
}

/*
------------------
 Responsive css
------------------
*/

@media(max-width: 1199px){
	strong.contact-page-entry-title {
	    font-size: 45px;
	    line-height: 47px;
	}
	.contact-msg-title{
		font-size: 37px;
		line-height: 39px;
	}

}

@media(max-width: 991px){	
	.contact-form-sec-wrp {
	    padding-top: 50px;
	    padding-bottom: 50px;
	}
	.contact-form-dsc {
	    padding-bottom: 30px;
	}
	strong.contact-page-entry-title {
	    font-size: 42px;
	    line-height: 44px;
	}
	.contact-msg-title{
		font-size: 34px;
		line-height: 36px;
	}
}

@media(max-width: 767px){
	strong.contact-page-entry-title {
	    font-size: 40px;
	    line-height: 42px;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul {
	    width: 100%;
	    padding-right: 0;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error label.wpforms-error{
		top: auto;
	}
	.contact-form-dsc-wrp {
	    padding-bottom: 35px;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox label {
	    margin-bottom: 25px;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea{
		height: 250px;
	}
	.contact-msg-wrp img {
	    width: 120px;
	    height: 120px;
	}
	.contact-msg-title{
		font-size: 32px;
		line-height: 34px;
		margin-top: 30px;
		margin-bottom: 35px;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li {
	    margin-bottom: 25px !important;
	    padding-right: 0 !important;
	    width: 100% !important;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li:last-child{
		margin-bottom: 20px !important;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox label.wpforms-field-label {
	    margin-bottom: 25px;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul li label{
		padding-left: 30px;
	}
}

@media(max-width: 575px){
	strong.contact-page-entry-title {
	    font-size: 38px;
	    line-height: 40px;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field {
	    width: 100%;
	    margin-bottom: 20px;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea{
		height: 200px;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input {
	    height: 50px;
	    padding: 15px 18px 16px;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox .container{
		margin-bottom: 20px;
	}
	.contact-msg-wrp img {
	    width: 100px;
	    height: 100px;
	}
	.contact-msg-title{
		font-size: 30px;
		line-height: 32px;
		margin-top: 25px;
		margin-bottom: 30px;
	}

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}