/*
-----------------
cr-dd-head-sec-wrp
-----------------
*/
.cr-dd-head-sec-wrp{
	padding-top: 45px;
	position: relative;
}
.cr-dd-head-sec-wrp:after{
    content: "";
    height: 6px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(270deg, #F8F8F8 0%, #646B9C 25.78%, #293377 49.95%, #646B9C 80.25%, #F8F8F8 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
}
.cr-dd-head-wrp{
	max-width: 880px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 48px;
}
.cr-dd-head-title{
	margin: 0;
	font-weight: 800;
	margin-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	line-height: 48px;
	display: block;
}
.cr-dd-head-wrp p{
	margin-bottom: 30px;
}
.cr-dd-back-step-btn a,
.cr-dd-head-wrp a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	background:#C01718;
	color: #fff;
	padding: 20px 40px;
	border:2px solid #C01718!important;
}
.cr-dd-back-step-btn a:hover,
.cr-dd-head-wrp a:hover{
	background:transparent;
	color: #C01718;
	border-color:#C01718 !important; 
}

/*
-------------------
cr-dd-sec-wrp
-------------------
*/
.cr-dd-sec-wrp{
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #F9F9F9;
}

/*
---------------------
cr-dd-back-step-sec-wrp
---------------------
*/
.cr-dd-back-step-sec-wrp{
	padding-top: 70px;
	padding-bottom: 55px;
}
.cr-dd-back-step-title{
	margin: 0;
	margin-bottom: 38px;
	font-size: 30px;
	line-height: 32px;
	font-family: 'Open Sans', sans-serif;
	display: block;
}
.cr-dd-back-step-inr{
	border-top: 2px solid #F3F3F3;
	border-bottom: 2px solid #F3F3F3;
	padding-top: 45px;
	padding-bottom: 42px;
}
.cr-dd-back-step-btn{
	float: left;
	position: relative;
	padding-right: 105px;
}
.cr-dd-back-step-btn a{
	padding-left: 45px;
	padding-right: 45px;
}
.cr-dd-back-step-btn a i{
    position: absolute;
    right: 0;
    top: 22px;
}
.cr-dd-back-step-list{
	float: left;
	padding: 21px 0 20px;
}
.cr-dd-back-step-list ul li{
	float: left;
	font-size: 18px;
	line-height: 20px;
	padding-left: 80px;
	padding-right: 80px;
	position: relative;
}
.cr-dd-back-step-list ul li:first-child{
	padding-left: 55px;
}
.cr-dd-back-step-list ul li i{
	position: absolute;
	right: 0;
	top: -1px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.cr-dd-back-step-btn a:hover i svg,
.cr-dd-back-step-list ul li a:hover i svg{
	fill: #C01718;
}
.cr-dd-back-step-btn a:hover i,
.cr-dd-back-step-list ul li a:hover i{
	right: -5px;
}
.cr-dd-back-step-list ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-weight: 700;
	color: #464646;
	text-transform: uppercase;
}
.cr-dd-back-step-list ul li a:hover{
	color: #C01718;
}
.cr-dd-back-step-rgt{
    float: right;
    padding-top: 12px;
}
.cr-dd-back-step-rgt span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 18px;
	line-height: 35px;
	color: #464646;
	font-weight: 700;
	padding-left: 45px;
	position: relative;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.cr-dd-back-step-rgt span i{
	position: absolute;
	left: 0;
	top: 0;
}
.cr-dd-back-step-rgt span:hover i svg{
	fill: #C01718;
}
.cr-dd-back-step-rgt span:hover{
	color: #C01718;
}
.cr-dd-two-part-dsc-wrp{
	padding-top: 70px;
}
.cr-dd-two-part-dsc-lft{
	float: left;
	width: 50%;
	padding-right: 115px;
}
.cr-dd-two-part-dsc-lft p{
	margin-bottom: 20px;
}
.cr-dd-two-part-dsc-rgt {
    float: left;
    width: 50%;
    padding-top: 70px;
}
.cr-dd-two-part-dsc-title{
	margin-bottom: 35px;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	line-height: 32px;
	display: block;
}
.cr-dd-two-part-dsc-list{
	background: #F9F9F9;
	padding: 45px 80px 25px; 
}
.cr-dd-two-part-dsc-list ul{
	padding: 0;
	margin: 0;
}
.cr-dd-two-part-dsc-list ul li{
	padding-bottom: 20px;
}
.cln-dd-grid-sec{
	padding-top: 120px;
	padding-bottom: 10px !important;
}
.cln-rv-grid-slider{
	margin-left: -12px;
	margin-right: -12px;
}
.cln-rv-grid-slider .cln-rv-grid-item{
	display: none;
}
.cln-rv-grid-slider .cln-rv-grid-item:first-child{
	display: block;
}
.cln-rv-grid-slider.slick-initialized .cln-rv-grid-item{
	display: block;
}
.cln-rv-grid-slider .cln-rv-grid-item{
	padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 30px;
}


/*
-------------------
 Responsive Css
-------------------
*/
@media(max-width: 1599px){
	.cr-dd-sec-wrp .cr-fancy-dsc {
	    padding-right: 85px;
	}
	.cr-dd-back-step-btn {
	    padding-right: 70px;
	}
	.cr-dd-back-step-list ul li {
	    padding-left: 60px;
	    padding-right: 60px;
	}
}

@media(max-width: 1199px){
	.cr-dd-head-title {
	    font-size: 43px;
	    line-height: 43px;
	}
	.cr-dd-sec-wrp .cr-fancy-dsc {
	    padding-right: 35px;
	}
	.cr-dd-back-step-btn {
	    padding-right: 50px;
	}
	.cr-dd-back-step-list ul li {
	    padding-left: 35px;
	    padding-right: 35px;
	}
	.cr-dd-back-step-list ul li:first-child {
	    padding-left: 35px;
	}
	.cr-dd-two-part-dsc-lft {
	    padding-right: 80px;
	}
	.cr-dd-two-part-dsc-list {
	    padding: 45px 40px 25px;
	}
}

@media(max-width: 991px){
	.cr-dd-head-title {
	    font-size: 38px;
	    line-height: 38px;
	}
	.cr-dd-sec-wrp{
		padding-top: 60px;
	}
	.cr-dd-sec-wrp .cr-fancy-dsc-rgt {
	    padding-top: 0;
	    padding-bottom: 10px;
	}
	.cr-dd-sec-wrp .cr-fancy-dsc {
	    padding-right: 0;
	}
	.cr-dd-sec-wrp .cr-fancy-dsc p {
	    margin-bottom: 25px;
	}
	.cr-dd-sec-wrp .cr-fancy-slider-wrp {
	    padding-bottom: 75px;
	}
	.cr-dd-back-step-btn {
	    padding-right: 0;
	    float: none;
	    display: table;
	    margin: 0 auto;
	    padding-bottom: 35px;
	}
	.cr-dd-back-step-btn a i {
	    right: 0;
	    top: auto;
	    left: 0;
	    bottom: 0;
	    text-align: center;
	}
	.cr-dd-back-step-list {
	    float: none;
	    padding: 0;
	    text-align: center;
	    display: table;
	    margin: 0 auto;
	}
	.cr-dd-back-step-list ul li {
	    float: none;
	    display: block;
	    padding:0;
	}
	.cr-dd-back-step-list ul li a{
		padding: 35px 0;
	}
	.cr-dd-back-step-list ul li:first-child {
	    padding-left: 0;
	}
	.cr-dd-back-step-list ul li i {
	    right: 0;
	    top: auto;
	    bottom: -8px;
	    text-align: center;
	    left: 0;
	}
	.cr-dd-back-step-rgt {
	    float: none;
	    padding-top: 28px;
	    text-align: center;
	}
	.cr-dd-back-step-inr {
	    padding-top: 0;
	    padding-bottom: 35px;
	    border-top: none;
	}
	.cr-dd-back-step-title {
	    margin-bottom: 20px;
	    text-align: center;
	}
	.cr-dd-back-step-sec-wrp {
	    padding-top: 45px;
	    padding-bottom: 0;
	}
	.cr-dd-two-part-dsc-lft {
	    padding-right: 0;
	    width: 100%;
	}
	.cr-dd-two-part-dsc-wrp {
	    padding-top: 45px;
	}
	.cr-dd-two-part-dsc-rgt {
	    float: left;
	    width: 100%;
	    padding-top: 30px;
	}
	.cr-dd-two-part-dsc-list {
	    padding: 45px 15px 25px;
	    margin-left: -15px;
	    margin-right: -15px;
	}
	.cln-dd-grid-sec {
	    padding-top: 90px;
	}
	.cln-dd-grid-sec .cln-rv-grid-sec-inr > ul > li{
		width: 50%;
	}
	
}

@media(max-width: 767px){
	.cr-dd-head-title {
	    font-size: 33px;
	    line-height: 33px;
	}
	.cr-dd-head-wrp {
	    padding-bottom: 50px;
	}
	.cr-dd-two-part-dsc-list {
	    padding: 45px 20px 25px;
	    margin-left: -20px;
	    margin-right: -20px;
	}
	.cln-dd-grid-sec .cln-rv-grid-item-des {
	    padding: 30px 20px 25px 20px;
	}
	.cln-dd-grid-sec {
	    padding-top: 45px;
	}
}

@media(max-width: 575px){
	.cr-dd-head-title {
	    font-size: 28px;
	    line-height: 30px;
	}
	.cln-dd-grid-sec .cln-rv-grid-sec-inr > ul > li{
		width: 100%;
	}
	.cln-dd-grid-sec .cln-rv-grid-item-img img{
		width: 100%;
	}
	.cln-dd-grid-sec .cln-rv-grid-item-des-title{
		margin-bottom: 25px;
	}
	.cln-rv-grid-slider .slick-prev,
	.cln-rv-grid-slider .slick-next{
	    bottom: -16px !important;
	}
	.cln-rv-grid-slider .slick-prev{
		left: 12px;
	}
	.cln-rv-grid-slider .slick-next{
		right: 12px;
	}
	.cln-rv-grid-slider .cln-rv-grid-item {
	    padding-bottom: 36px;
	}

}

@media(max-width: 479px){
	.cr-dd-back-step-btn a,
	.cr-dd-head-wrp a {
	    padding: 20px 24px;
	}
}

@media(max-width: 359px){

}