.footer-wrp{
  position: relative;
}
.footer-wrp:after {
    content: "";
    height: 6px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background: linear-gradient(270deg, #F8F8F8 0%, #646B9C 25.78%, #293377 49.95%, #646B9C 80.25%, #F8F8F8 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
}
.ftr-top{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #F9F9F9;
}
.ftr-col-main{
  padding-top: 75px;
  padding-bottom: 100px;
}
.ftr-col-main .ftr-col{
  float: left;
}
.ftr-col-1{
  width: 42%;
  padding-right: 200px;
}
.ftr-col-2{
  width: 20%;
  padding-right: 20px;
}
.ftr-col-3{
  width: 25%;
  padding-right: 20px;
}
.ftr-col-4{
  width: 13%;
  padding-right: 20px;
}
.ftr-logo{
  margin-bottom: 40px;
}
.ftr-logo a{
  display: inline-block;
  vertical-align: baseline;
  max-width: 255px;
  position: relative;
}
.ftr-socail-icon p{
  margin-bottom: 35px;
  line-height: 24px;
}
.ftr-col-1 img{
  width: 100%;
}
.ftr-socail-icon ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.ftr-socail-icon ul li{
  float: left;
  margin: 0 !important;
  padding: 0 13px !important;
}
.ftr-socail-icon ul li:first-child{
  padding-left: 6px !important;
}
.ftr-socail-icon ul li a{
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  font-size: 24px;
  line-height: 26px;
  color: #464646;
}
h6.ftr-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #293377;
  margin-bottom: 30px;
  font-weight: 700;
}
h6.ftr-title span{
  display: inline-block;
  vertical-align: baseline;
  position: relative;
}
.ftr-col ul li{ 
  padding: 0;
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
.ftr-col ul li a{
  color: #464646;
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.ftr-col ul li a:hover{
  color: #C01718;
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.ftr-col ul li::before{
  content: none;
}
.ftr-contact-info{
  text-align: center;
  border-top: 1px solid rgba(226, 226, 226, 0.9);
  padding-top: 55px;
  padding-bottom: 55px;
}
.ftr-contact-info span{
  display: inline-block;
  vertical-align: baseline;
  font-size: 24px;
  line-height: 26px;
  color: #464646;
  padding-right: 10px;
  font-weight: 300;
}
.ftr-contact-info a{
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  font-size: 24px;
  line-height: 26px;
  font-weight: 300;
  color: #C01718;
  padding-left: 90px;
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  position: relative;
}
.ftr-contact-info a i{
    position: absolute;
    left: 55px;
    top: -3px;
}
.ftr-contact-info a:last-of-type i{
  left: 50px;
  top: -1px;
}
.ftr-contact-info a:hover{
  color: #293377;
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.ftr-contact-info a:hover i svg{
  fill: #293377;
}
.ftr-btm{
  padding: 50px 0 50px;
  background: #fff;
}
.ftr-btm-col-1{
  width: 37.74%;
  float: left;
}
.ftr-btm-col-2{
  width: 40%;
  float: left;
}
.ftr-btm-col-3{
  width: 22.25%;
  float: left;
}
.ftr-btm-col-1 span{
  font-size: 16px;
  line-height: 18px;
  color: #464646;
}
.ftr-btm-col-2 ul li{
  padding: 0;
  padding-left: 19px;
  padding-right: 22px;
  float: left;
  position: relative;
  font-size: 16px;
  line-height: 18px;
}
.ftr-btm-col-2 ul li::before{
  content: none!important
}
.ftr-btm-col-2 ul li::after{
  content: "-"!important;
  position: absolute;
  font-size: 16px;
  color: #1E1E1E;
  right: -1px;
  top: 0;
  left: auto;
}
.ftr-btm-col-2 ul li:last-child::after{
  content: none!important;
}
.ftr-btm-col-2 ul li:first-child{
  padding-left: 0;
}
.ftr-btm-col-2 ul li:last-child{
  padding-right: 0;
}

.ftr-btm-col-2 ul li a{
  color: #464646;
}
.ftr-btm-col-3 a{
  font-size: 16px;
  line-height: 18px;
  color: #464646;
}
.ftr-btm-col-3 a:hover,
.ftr-btm-col-2 ul li a:hover{
  color: #C01718;
}

/*
-------------------
 Responsive css
-------------------
*/
@media(max-width: 1599px){
  .ftr-col-1 {
      padding-right: 130px;
  }
}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
  .ftr-col-1 {
      padding-right: 70px;
  }
  .ftr-col-2 {
      width: 19%;
  }
  .ftr-col-3 {
      width: 24%;
  }
  .ftr-col-4 {
      width: 15%;
  }
}

@media(max-width: 991px){
  .ftr-col-1 {
      padding-right: 0;
      width: 100%;
      text-align: center;
      max-width: 450px;
      margin: 0 auto;
      padding-bottom: 65px;
  }
  .ftr-socail-icon ul li {
      float: none;
      margin: 0 !important;
      padding: 0 13px !important;
      display: inline-block;
      vertical-align: baseline;
  }
  .ftr-col-main .ftr-col {
      float: none;
      width: 100%;
      text-align: center;
      padding-right: 0;
  }
  .ftr-socail-icon p {
      margin-bottom: 30px;
  }
  .ftr-logo {
      margin-bottom: 20px;
  }
  .ftr-socail-icon ul li:first-child{
    padding-left: 13px !important;
  }
  .ftr-col-main {
      padding-top: 65px;
      padding-bottom: 45px;
  }
  .ftr-contact-info span {
      display: block;
      padding-right: 0;
      padding-bottom: 20px;
  }
  .ftr-contact-info a {
      padding-left: 40px;
      display: table;
      margin: 0 auto;
  }
  .ftr-contact-info a:first-of-type{
    margin-bottom: 20px;
  }
  .ftr-phone {
      background-position: left 15px top 2px;
  }
  .ftr-email {
      background-position: left 0 top 2px;
  }
  .ftr-contact-info {
      padding-top: 45px;
      padding-bottom: 75px;
  }
  .ftr-btm-col-1 {
      width: 100%;
      float: left;
      text-align: center;
      padding-bottom: 30px;
  }
  .ftr-btm-col-2 {
      width: 100%;
      float: left;
      text-align: center;
      padding-bottom: 25px;
  }
  .ftr-btm-col-2 ul li {
      float: none;
      display: inline-block;
      vertical-align: baseline;
  }
  .ftr-btm-col-3 {
      width: 100%;
      float: none;
      text-align: center;
  }
  .ftr-btm-col-3.text-right{
    text-align: center !important;
  } 
  .ftr-btm {
      padding: 40px 0 80px;
  }
  .ftr-contact-info a i {
      left: 5px;
      top: -3px;
  }
  .ftr-contact-info a:last-of-type i {
      left: 2px;
      top: -1px;
  }
}

@media(max-width: 767px){
  .ftr-socail-icon ul {
      display: block !important;
  }
  .ftr-col > ul {
      display: none;
      padding-bottom: 15px;
  }
  .ftr-col.ftr-col-2 > ul{
    display: block;
  }
  .ftr-col h6 span {
      padding-right: 22px;
  }
  .ftr-col h6 span::after {
      position: absolute;
      right: 0;
      top: 0;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f106";
      color: #293377;
      font-size: 23px;
      -webkit-transition: all .5s ease;
      -ms-transition: all .5s ease;
      transition: all .5s ease;
  }
  .ftr-col h6 span:first-child::after{
    content: "\f107";
  }
  .ftr-col h6.active span::after{
      content: "\f107";
  }
}

@media(max-width: 575px){
  

}

@media(max-width: 479px){
  .ftr-btm-col-2 ul li {
      padding-left: 5px;
      padding-right: 7px;
      font-size: 15px;
      line-height: 17px;
  }
  .ftr-btm-col-2 ul li::after{
    right: -3px;
  }
  .ftr-btm-col-1 span {
      font-size: 15px;
      line-height: 17px;
  }
}

@media(max-width: 359px){

}