/*
--------------------
 cr-leg-sec-wrp
--------------------
*/
.cr-leg-sec-wrp{
	padding-top: 80px;
}
.cr-leg-sec-wrp .cr-fancy-dsc{
	padding-right: 115px;
	padding-left: 0;
}
.cr-leg-sec-wrp .cr-fancy-dsc a{
	padding: 20px 40px;
}
/*
-----------------------
cr-leg-tabs-sec-wrp
-----------------------
*/
.cr-leg-tabs-sec-wrp{
	padding-top: 35px;
	position: relative;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #F9F9F9;
	padding-bottom: 80px;
}
.cr-leg-tabs-sec-wrp:after {
    content: "";
    height: 6px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background: linear-gradient(270deg, #F8F8F8 0%, #646B9C 25.78%, #293377 49.95%, #646B9C 80.25%, #F8F8F8 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
}
.cr-leg-tabs ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.cr-leg-tabs ul li{
	padding: 0;
	float: left;
	font-size: 18px;
	line-height: 20px;
	padding: 0 46px;
}
.cr-leg-tabs ul li:before{
	content: none;
}
.cr-leg-tabs ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color:#464646;
	font-weight: 600;
	text-transform: capitalize; 
	margin-bottom: 50px;
	position: relative;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.cr-leg-tabs ul li a:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: -50px;
	width: 0;
	height: 3px;
	background:#293377;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.cr-leg-tabs ul li.active a{
	font-weight: 700;
}
.cr-leg-tabs ul li a:hover,
.cr-leg-tabs ul li.active a{
	color: #293377;
}
.cr-leg-tabs ul li a:hover:after,
.cr-leg-tabs ul li.active a:after{
	width: 100%;
	right: 0;
}
.cr-tabs{
	display: none;
}
.cr-tab-dsc-wrp{
	background:#fff;
	padding: 100px 60px 90px 60px;
}
.cr-tab-dsc-lft{
	width: 57%;
	float: left;
	padding-right: 140px;
}
.cr-tab-dsc-title{
    margin: 0;
    color: #464646;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 42px;
    font-weight: 700;
}
.cr-tab-dsc-lft p{
	margin-bottom: 25px;
}
.cr-tab-dsc-lft a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #fff;
	background:#C01718;
	border:2px solid #C01718;
	padding: 20px 60px 20px 90px;
	position: relative;
	margin-top: 17px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.cr-tab-dsc-lft a:hover{
	background:transparent;
	color:#C01718; 
}
.cr-tab-dsc-lft a:hover:after{
	background:url(../images/download-icon-hover.svg);
	background-repeat: no-repeat;
	background-size: 22px 22px;
}
.cr-tab-dsc-lft a i{
	position: absolute;
	left: 60px;
	top: 18px;
}
.cr-tab-dsc-lft a:hover i svg{
	fill: #C01718;
}
.cr-tab-dsc-rgt{
	width: 43%;
	float: right;
	padding-top: 70px;
}
.cr-tab-dsc-rgt ul{
	padding-left: 0;
	padding-bottom: 65px;
}
.cr-tab-dsc-rgt ul li{
	padding-bottom: 20px;
}
.cr-leg-post-grid-sec-wrp{
	padding-top: 85px;
}
.ftr-top-dsc-wrp{
	background:#C01718;
	padding: 75px 0;
}
.ftr-top-dsc{
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}
.ftr-top-dsc-title{
	font-size: 30px;
	line-height: 32px;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.ftr-top-dsc p{
	margin-bottom: 22px;
}
.ftr-top-dsc a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	color: #C01718;
	font-weight: 700;
	background:#fff;
	padding: 20px 57px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	position: relative;
}
.ftr-top-dsc a:last-child{
	position: relative;
	padding-left: 95px;
	padding-right: 65px;
	margin-left: 20px;
}
.ftr-top-dsc a i{
	position: absolute;
	left: 62px;
	top: 17px;
}
.ftr-top-dsc a:hover i svg{
	fill: #fff;
}
.ftr-top-dsc a:hover{
	background: #293377;
	color: #fff;
}
.cln-leg-grid-sec{
	padding-top: 80px;
	padding-bottom: 80px;
}
.cln-leg-grid-wrp{
	max-width: 905px;
	width: 100%;
	margin: 0 auto;
}
.cln-leg-grid-head{
	text-align: center;
	padding-bottom: 30px;
	max-width: 885px;
	width: 100%;
	margin: 0 auto;
}
.cln-leg-grid-head-title{
	margin: 0;
	font-size: 32px;
	line-height: 34px;
	margin-bottom: 15px;
}
.cln-leg-grid-wrp .cln-rv-grid-sec-inr > ul > li{
	width: 50%;
}
/*
-------------------
 Responsive Css
-------------------
*/
@media(max-width: 1599px){
	
}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.cr-leg-tabs ul li {
	    padding: 0 35px;
	}
	.cr-tab-dsc-lft {
	    padding-right: 70px;
	}
	.cr-tab-dsc-wrp {
	    padding: 80px 40px 70px 40px;
	}
	.cr-leg-sec-wrp .cr-fancy-dsc {
	    padding-right: 50px;
	}
}

@media(max-width: 991px){
	.cr-leg-sec-wrp .cr-fancy-dsc {
	    padding-right: 0;
	    padding-left: 0;
	}
	.cr-leg-tabs ul li {
	    padding: 0 25px;
	}
	.cr-leg-tabs ul li a{
		margin-bottom: 30px;
	}
	.cr-leg-tabs ul li a:after{
		bottom: -30px;
	}
	.cr-tab-dsc-wrp {
	    padding: 60px 20px 60px 20px;
	}
	.cr-tab-dsc-lft {
	    padding-right: 30px;
	}
	.ftr-top-dsc {
	    max-width: 720px;
	    width: 100%;
	    padding: 0 20px;
	}
	.rf-two-part-rgt {
	    padding: 55px 15px 70px 15px;
	}
}

@media(max-width: 767px){
	.cr-tab-dsc-lft {
	    padding-right: 0;
	    width: 100%;
	}
	.cr-tab-dsc-rgt {
	    width: 100%;
	    padding-top: 0;
	}
	.cr-tab-dsc-rgt ul {
	    padding-left: 0;
	    padding-bottom: 30px;
	}
	.cr-leg-tabs-sec-wrp .cr-fancy-slide-item-img {
	    margin-bottom: 40px;
	}
	.cr-tab-dsc-wrp {
	    padding: 50px 15px 50px 15px;
	}
	.cr-leg-tabs ul li {
	    padding: 0 10px;
	    font-size: 16px;
	    line-height: 18px;
	}
	.cr-leg-tabs-sec-wrp{
		padding-bottom: 50px;
	}
	.cr-leg-sec-wrp {
	    padding-top: 50px;
	}
	.cr-leg-sec-wrp .cr-fancy-dsc a {
	    padding: 20px 20px;
	}
	.ftr-top-dsc a {
	    display: block;
	    max-width: 290px;
	    width: 100%;
	    margin: 0 auto !important;
	    padding: 20px 30px;
	}
	.ftr-top-dsc a:last-child {
	    margin-left: 0;
	    margin-top: 15px !important;
	    padding-left: 85px;
    	padding-right: 60px; 
	}
	.ftr-top-dsc a i {
	    left: 55px;
	}
	.ftr-top-dsc-wrp {
	    padding: 55px 0 40px;
	}
	.rf-two-part-lft {
	    width: 100%;
	}
	.rf-two-part-rgt {
	    padding: 55px 30px 85px 30px;
	    width: 100%;
	}
}

@media(max-width: 575px){
	.cr-leg-tabs ul li {
	    padding: 0 15px;
	    margin-bottom: 15px;
	}
	.cr-leg-tabs ul li a {
	    margin-bottom: 20px;
	}
	.cr-leg-tabs ul li a:after {
	    bottom: -20px;
	}
}

@media(max-width: 479px){
	.ftr-top-dsc a {
	    padding: 20px 20px;
	}
	.ftr-top-dsc a:last-child {
	    padding-left: 50px;
	    padding-right: 30px;
	}
	.ftr-top-dsc a i {
	    left: 30px;
	}
}

@media(max-width: 359px){

}