.cr-mission-two-grid-sec-wrp{
	padding-top: 75px;
}
.cr-mission-two-grid-wrp{
	display: flex;
	justify-content: center;
	align-items: center;
}
.cr-mission-two-grid-img-rgt{
	width: 42%;
}
.cr-mission-two-grid-img{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	min-height: 600px !important; 
	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.03) !important;
}
.cr-mission-two-grid-lft{
	width: 58%;
}
.cr-mission-two-grid-sec-wrp .mission-statement-sec-des{
    padding-right: 125px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.cr-service-wrp{
	background:#c01818;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 80px 0;
}
.cr-service-item{
	float: left;
	width: 25%;
	position: relative;
}
.cr-service-item:last-child:after{
	content: none;
}
.cr-service-dsc{
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	position: relative;
	padding: 0 30px;
}
.cr-service-dsc i{
	display: inline-block;
	vertical-align: baseline;
}
.cr-service-dsc:after{
	content: "";
	position: absolute;
	width: 1px;
	height: 112px;
	background:#D92727;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.cr-service-dsc-title{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 22px;
	line-height: 24px;
	display: block;
}
.cr-service-dsc p{
	margin: 0;
}
/*
----------------------
  cr-fancy-slider-wrp
----------------------
*/
.cr-fancy-slider-wrp{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 80px;
}
.cr-fancy-slider-pagi .cr-fancy-slide-pagi-item,
.cr-fancy-slider .cr-fancy-slide-item{
	display: none;
}
.cr-fancy-slider-pagi .cr-fancy-slide-pagi-item:first-child,
.cr-fancy-slider .cr-fancy-slide-item:first-child{
	display: block;
}
.cr-fancy-slider-pagi.slick-initialized .cr-fancy-slide-pagi-item:first-child,
.cr-fancy-slider.slick-initialized .cr-fancy-slide-item:first-child{
	display: block;
}
.cr-fancy-slider-img{
	width: 49%;
	float: left;
}
.cr-fancy-dsc-rgt{
	width: 51%;
	float: right;
}
.cr-fancy-dsc{
	padding-left: 110px;
}
.cr-fancy-title{
	margin: 0;
	font-size: 40px;
	line-height: 42px;
	margin-bottom: 22px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	display: block;
}
.cr-fancy-dsc span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
	color: #C01718;
	padding-bottom: 25px;
}
.cr-fancy-dsc p{
	margin-bottom: 20px;
}
.cr-fancy-dsc a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	font-weight: 700;
	background:#C01718;
	border:2px solid #C01718;
	padding: 21px 80px;
	margin-top: 15px;
}
a.cr-fancy-dsc-btn{
	text-transform: uppercase;
}
.cr-diensten-head a:hover,
.cr-fancy-dsc a:hover{
	background:transparent;
	color: #C01718;
}
.cr-fancy-slide-item-img{
	position: relative;
}
.cr-fancy-slide-item-img a{
	display: block;
	overflow: hidden;
}
.cr-fancy-slide-item-img span{
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.cr-fancy-slide-item-img span i{
	display: inline-block;
	vertical-align: baseline;
}
.cr-fancy-slider-pagi{
	padding-top: 20px;
	margin: 0 -12px;
}
.cr-fancy-slide-pagi-item{
	padding: 0 12px;
}
.cr-fancy-slide-item-img em{
	position: absolute;
	right: 16px;
	bottom: 16px;
}
/*
----------------------
cr-diensten-head-sec-wrp
----------------------
*/
.cr-diensten-head-sec-wrp{
	position: relative;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #F9F9F9;
}
.cr-diensten-head-sec-wrp:after {
    content: "";
    height: 6px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background: linear-gradient(270deg, #F8F8F8 0%, #646B9C 25.78%, #293377 49.95%, #646B9C 80.25%, #F8F8F8 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
}
.cr-diensten-head{
	max-width: 870px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 80px 0;
}
.cr-diensten-title{
	color: #464646;
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	line-height: 34px;
	margin-bottom: 18px;
	font-weight: 700;
	display: block;
}
.cr-diensten-head p{
	margin-bottom: 25px;
}
.cr-diensten-head a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	text-transform: uppercase;
	background:#C01718;
	font-weight: 700;
	padding: 20px 52px;
	border:2px solid #C01718;
}

/*
-----------------------
cr-blockcode-sec-wrp
-----------------------
*/
.cr-blockcode-sec-wrp {
    padding-top: 80px;
    padding-bottom: 50px;
    overflow: hidden;
}
.cr-blockcode-wrp{
	margin-bottom: 80px;
	position: relative;
}
.cr-blockcode-wrp{
	background: #293377;
	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.03);
	padding-top: 50px;
	padding-bottom: 50px;
}
.cr-blockcode-slide-item-dsc{
	max-width: 760px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.cr-blockcode-slide-item-dsc i{
	display: inline-block;
	vertical-align: baseline;
}
.cr-blockcode-slide-item-dsc blockquote{
	font-size: 30px;
	line-height: 36px;
	font-weight: 300;
	color: #fff;
	margin-top: 25px;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}
.cr-blockcode-title{
	margin: 0;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	display: block;
}
.cr-blockcode-slider .cr-blockcode-slide-item{
	display: none;
}
.cr-blockcode-slider .cr-blockcode-slide-item:first-child{
	display: block;
}
.cr-blockcode-slider.slick-initialized .cr-blockcode-slide-item{
	display: block;
}
.crblockcodearrows .leftArrow,
.crblockcodearrows .rightArrow{
    display: block;
    height: 25px;
    width: 30px;
    cursor: pointer;
    text-align: center;
    opacity: 1;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.crblockcodearrows .leftArrow{
    position: absolute;
    left: 60px;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 4;
}
.crblockcodearrows .rightArrow{
    position: absolute;
    right: 60px;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 4;
}
.crblockcodearrows .rightArrow:hover i svg,
.crblockcodearrows .leftArrow:hover i svg{
	fill: #C01718;
}
.cr-blockcode-sec-wrp .floating-grd-row-des{
	background: #FFFFFF;
	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.03);
}
.cr-fancy-slide-pagi-item-img{
	cursor: pointer;
}
/*
------------------
 Responsive css
------------------
*/

@media(max-width: 1199px){
	.cr-mission-two-grid-sec-wrp .mission-statement-sec-des {
	    padding-right: 50px;
	    padding-top: 30px;
	    padding-bottom: 30px;
	}
	.cr-service-dsc{
	    padding: 0 20px;
	}
	.cr-fancy-dsc {
	    padding-left: 50px;
	}
	.cr-fancy-title {
	    font-size: 37px;
	    line-height: 39px;
	}
	.cr-blockcode-slide-item-dsc {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.cr-blockcode-slide-item-dsc blockquote {
	    font-size: 28px;
	    line-height: 34px;
	}
	.cr-mission-two-grid-img{
		min-height: 500px !important;
	}
}

@media(max-width: 991px){
	.cr-mission-two-grid-sec-wrp .mission-statement-sec-des {
	    padding-right: 20px;
	    padding-top: 30px;
	    padding-bottom: 20px;
	}
	.cr-service-wrp {
	    margin: 0 0 50px;
	    padding: 40px 0;
	}
	.cr-service-item{
	    width: 33.3333%;
	}
	.cr-service-item:nth-child(3n+1){
		clear: left;
	}
	.cr-mission-two-grid-sec-wrp {
	    padding-top: 35px;
	}
	.cr-fancy-slider-wrp {
	    display: block;
	    padding-bottom: 50px;
	}

	.cr-fancy-slider-img {
	    width: 100%;
	    float: left;
	}
	.cr-fancy-dsc-rgt {
	    width: 100%;
	    float: right;
	    padding-top: 32px;
	}
	.cr-fancy-dsc {
	    padding-left: 0;
	}
	.cr-fancy-slide-item-img img{
		width: 100%;
	}
	
	.cr-fancy-slide-pagi-item-img img{
		width: 100%;
	}
	.cr-fancy-title {
	    font-size: 35px;
	    line-height: 37px;
	    margin-bottom: 30px;
	}
	.cr-fancy-dsc span{
		padding-bottom: 35px;
	}
	.cr-blockcode-slide-item-dsc blockquote {
	    font-size: 26px;
	    line-height: 32px;
	}
	.cr-blockcode-slide-item-dsc {
	    max-width: 615px;
	    width: 100%;
	}
	.crblockcodearrows .leftArrow{
		left: 30px;
	}
	.crblockcodearrows .rightArrow{
		right: 30px;
	}
	.cr-service-item{
		padding-bottom: 15px;
	}
	.cr-blockcode-sec-wrp {
	    padding-bottom: 0;
	}
	.cr-mission-two-grid-img{
		min-height: 420px !important;
	}
	.cr-service-wrp .cr-service-item{
		display: none;
	}
	.cr-service-wrp .cr-service-item:first-child{
		display: block;
	}
	.cr-service-wrp.slick-initialized .cr-service-item:first-child{
		display: block;
	}
	.cr-service-wrp .slick-dots li.slick-active{
		background: #fff!important;
	}
}

@media(max-width: 767px){
	.cr-mission-two-grid-sec-wrp {
	    padding-top: 40px;
	}
	.cr-mission-two-grid-wrp {
	    display: block;
	}
	.cr-mission-two-grid-lft {
	    width: 100%;
	}
	.cr-mission-two-grid-img-rgt {
	    width: 100%;
	}
	.cr-fancy-title {
	    font-size: 32px;
	    line-height: 34px;
	}
	.cr-fancy-dsc a {
	    padding: 17px 60px;
	}
	.cr-diensten-head {
	    padding: 50px 0 45px;
	}
	.cr-diensten-head a{
		padding: 16px 40px;
	}
	.cr-blockcode-slide-item-dsc blockquote {
	    font-size: 24px;
	    line-height: 30px;
	    margin-top: 10px;
	    margin-bottom: 22px;
	}
	.cr-blockcode-wrp {
	    padding-top: 60px;
	    padding-bottom: 100px;
	    margin-bottom: 50px;
	}
	.cr-blockcode-sec-wrp {
	    padding-top: 50px;
	}
	.crblockcodearrows .leftArrow{
		left: 30px;
		top: auto;
		transform: inherit;
		bottom: 65px;
	}
	.crblockcodearrows .rightArrow{
		right: 30px;
		top: auto;
		transform: inherit;
		bottom: 65px;
	}
	/*
	-------------------
	 Pagination Css
	-------------------
	*/
	.cr-blockcode-slider.slick-dotted.slick-slider {
	    margin-bottom: 0 !important;
	}
	.cr-blockcode-slider .slick-dots {
	    position: relative !important;
	    top: 32px !important;
	}
	.cr-blockcode-slider .slick-dots li{
	  background-image: url(../images/cr-blockcode-slider-pagi.svg) !important;
	  background-repeat: no-repeat !important;
	  background-position: center center !important;
	  background-size: 16px 16px !important;
	  width: 16px !important;
	  height: 16px !important;
	  margin: 0 8px !important;
	  display: inline-block !important;
	  vertical-align: baseline !important;
	  float: none !important;

	}
	.cr-blockcode-slider .slick-dots li,
	.cr-blockcode-slider .slick-dots li button,
	.cr-blockcode-slider .slick-dots li button::before{
	  width: 16px !important;
	  height: 16px !important;
	  margin: 1px;
	  padding: 0 !important;
	  content: none !important;
	}
	.cr-blockcode-slider .slick-dots li.slick-active{
	  background-image: url(../images/cr-blockcode-slider-pagi-active.svg) !important;
	  background-repeat: no-repeat !important;
	}
	.cr-blockcode-slider .slick-dots li::before {
	  content: none!important;
	}
	.cr-blockcode-slide-item-dsc i img{
		width: 55px;
		height: 55px;
	}

}

@media(max-width: 575px){
	.cr-mission-two-grid-img{
		min-height: 380px !important;
	}
	.cr-service-dsc:after{
		content: none;
	}
	.cr-fancy-slide-item-img span i svg{
		width: 50px;
		height: 50px;
	}
	.cr-fancy-slide-item-img em svg{
		width: 30px;
		height: 31px;
	}
	.cr-fancy-slider-pagi {
	    padding-top: 12px;
	    margin: 0 -6px;
	}
	.cr-fancy-slide-pagi-item {
	    padding: 0 6px;
	}
	.cr-service-dsc {
	    max-width: 330px;
	    width: 100%;
	    margin: 0 auto;
	}
	.cr-diensten-head a {
	    padding: 20px 35px;
	}
	.cr-blockcode-slide-item-dsc i svg{
		width: 56px;
		height: 56px;
	}
	

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}