.slick-slider ul.slick-dots{
	position: static;
	height: 16px;
	line-height: 0;
	padding: 0 50px!important;
}
.slick-slider .slick-dots li{
	width: 16px!important;
	height: 16px!important;
	position: static;
	background: rgba(0, 0, 0, 0.12)!important;
	border-radius: 100% 100%!important;
	margin: 0 8px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active{
	background: #C01718!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 16px;
	height: 16px;
}


.starSecGrdsRowSlider.slick-slider .slick-dots li{
	background: rgba(0, 0, 0, 0.12);
}
.starSecGrdsRowSlider.slick-slider .slick-dots li.slick-active{
	background: #FFFFFF;
}


.sitemap{
	padding: 100px 0;
}

.sitemap ul li{
	padding-bottom: 10px;
	font-weight: 700;
}
.sitemap ul li a:focus{
	text-decoration: underline;
}


.nieuws-page-grds-sec{
	padding: 70px 0 80px;
}

.blog-nieuws ul{
	margin: 0 -8px;
}
.blog-nieuws ul li{
	float: left;
	width: 33.3333%;
	padding: 0 8px 16px;
}
.blog-nieuws ul li:nth-child(3n+1){
	clear: left;
}
.fl-pagi-pagi-ctlr ul{
	text-align: center;
}
.fl-pagi-pagi-ctlr ul li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 5px;
	font-weight: 700;
}

.next.page-numbers,
.prev.page-numbers{
	position: relative;
	top: -1px;
}

.error-404-wrap h1 {
    display: inline-block;
    padding: 12px 20px 12px 60px;
    position: relative;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 11;
    border-right: 3px solid #C01718;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 64px;
}
.error-404-wrap h1:before, .error-404-wrap h1:after {
    content: "";
    position: absolute;
    right: 0;
    background: #C01718;
}
.error-404-wrap h1:before {
    bottom: 0;
    width: 92%;
    height: 3px;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.error-404-wrap h1:before, .error-404-wrap h1:after {
    content: "";
    position: absolute;
    right: 0;
    background: #C01718;
}
.error-404-wrap h1:after {
    top: 0;
    width: 48%;
    height: 3px;
    background: #EB1C23;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.home-back-btn{
	padding-top: 30px;
}