.cln-rov-product-bottom-link a{
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: #293377;
	font-weight: 700;
	margin-top: 28px;
	background: transparent;
	padding: 0;
	padding-right: 30px;
	position: relative;
	margin-bottom: 13px;
}
.cln-rov-product-bottom-link a:hover{
	color: #C01718;
	background: transparent;
}
.cln-rov-product-bottom-link a:hover i svg{
	fill: #C01718 !important;
}
.cln-rov-product-bottom-link a:hover i{
	right: 0;
}

.cln-rov-product-bottom-link a i{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.cln-rov-partner-sec-inr img{
	display: inline-block;
}

.cln-rv-link-sec-inr{
	padding: 60px 0 75px;
	text-align: center;
	border-top: 2px solid #F3F3F3;
}
.cln-rv-link-sec-inr span{
	font-size: 18px;
	line-height: 36px;
	color: #A5A4A4;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 40px;
	display: inline-block;
}
.cln-rv-link-sec-inr ul li{
	display: inline-block;
	padding-left: 43px;
	padding-right: 43px;
}
.cln-rv-link-sec-inr ul li a{
	font-size: 18px;
	line-height: 36px;
	font-weight: 600;
	color: #464646;
	position: relative;
}
.cln-rv-link-sec-inr ul li a:after{
	content: "";
	position: absolute;
	top: 100%;
	width: 0%;
	left: 0;
	height: 3px;
	background: #293377;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.cln-rv-link-sec-inr ul li a:hover:after{
	width: 100%;
}
.cln-rv-link-sec-inr ul li a.active:after{
	content: "";
	position: absolute;
	top: 100%;
	width: 100%;
	left: 0;
	height: 3px;
	background: #293377;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.cln-rv-link-sec-inr ul li a.active{
	color: #293377;
	font-weight: 700;
}

.cln-rv-grid-sec-inr > ul{
	margin-left: -12px;
	margin-right: -12px;
	padding-left: 0;
}
.cln-rv-grid-sec-inr > ul > li{
	float: left;
	width: 33.3333%;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 30px;
}
.cln-rv-grid-sec-inr > ul > li:nth-child(3n+1){
	clear: left;
}
.cln-rv-grid-item-des{
	padding: 30px 40px 25px 35px;
	background: #fff;
	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.03);
}
.cln-rv-grid-item-img{
	position: relative;
	overflow: hidden;
}
.cln-rv-grid-item-img img{
	transform: scale(1);
	-webkit-transform: scale(1);
	transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
}
.cln-rv-grid-item-img:hover img{
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
}
.cln-rv-grid-item-des-title{
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 30px;
	line-height: 1;
}
.cln-rv-grid-item-des-title a{
	color: #464646;
}
.cln-rv-grid-item-des-title a:hover{
	color: #C01718;
	border: none;
}
.cln-rv-grid-item-des p{
	line-height: 24px;
	font-weight: normal;
	margin-bottom: 25px;
}
.cln-rv-grid-item-des ul{
	padding-left: 0;
}
.cln-rv-grid-item-des > a{
	padding: 14px 48px;
	background: #293377;
	color: #fff;
	font-weight: 600;
	display: inline-block;
	border: 2px solid #293377;
}
.cln-rv-grid-item-des > a:hover{
	background: transparent;
	color: #293377;
}
.cln-rv-grid-sec-bottom-link{
	text-align: center;
	padding-top: 55px;
}
.cln-rv-grid-sec-bottom-link a{
	display: inline-block;
	padding: 16px 112px;
	color: #293377;
	font-weight: 600;
	border: 2px solid #293377;
}
.cln-rv-grid-sec-bottom-link a:hover{
	background: #293377;
	color: #fff;
	border: 2px solid #293377;
}
.cln-rv-grid-sec{
	padding-bottom: 85px;
}


.cln-referenties-overview-ctlr .cr-leg-post-grid-sec-wrp{
	padding-top: 0;
}

.cln-rv-grid-sec .cln-rv-grid-sec-inr > ul > li:before{
	content: none;
}