.cln-rov-partner2-sec-inr{
	padding: 70px 20px 70px 60px;
}

.cln-rov2-ctlr .cr-leg-post-grid-sec-wrp{
	padding-top: 0;
}

.cln-rov-slider-sec .hm-referenties-sec-con-item{
    padding-bottom: 62px;
    border-bottom: 1px solid #F3F3F3;
}
ul.client-logos{
	text-align: center;
}
ul.client-logos li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 15px 25px;
}

@media(max-width: 1599px){
	.cln-rov-partner2-sec-inr{
		padding-left: 0;
		padding-right: 0;
	}
}
