/*
----------------------
 rf-brand-logo-sec-wrp
----------------------
*/
.rf-brand-logo-sec-wrp{
	padding-top: 95px;
	padding-bottom: 110px;
}
.rf-brand-logo-wrp{
	text-align: center;
}
.rf-brand-logo-title{
	margin: 0;
	font-weight: 800;
	display:block;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	margin-top: 30px;
	font-size: 48px;
	line-height: 48px;
	display: block;
}
/*
---------------------
rf-list-sec-wrp
---------------------
*/
.rf-list-sec-wrp{
	background: linear-gradient(270deg, #F8F8F8 0%, #646B9C 14.94%, #293377 49.95%, #646B9C 84.8%, #F8F8F8 100%);
	padding-top: 55px;
	padding-bottom: 50px;
}
.rf-list-wrp ul{
	padding: 0;
	margin: 0;
}
.rf-list-wrp ul li{
    float: left;
    padding-right: 60px;
    padding-left: 48px;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    position: relative;
}
.rf-list-wrp ul li:before{
	background:url(../images/list-icon-white.svg);
	background-repeat: no-repeat;
	background-size: 32px 32px;
	width: 32px;
	height: 32px;
	top: 0;
}
/*
----------------------
 rf-tired-dsc-sec-wrp
----------------------
*/
.rf-tired-dsc-sec-wrp{
	padding-top: 75px;
	padding-bottom: 80px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #F9F9F9;
}
.rf-tired-dsc-wrp{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 105px 60px 100px;
	background:#fff;
}
.rf-tired-dsc-lft{
	width: 57%;
	float: left;
	padding-right: 145px;
}
.rf-tired-dsc-rgt{
	width: 43%;
	float: right;
}
.rf-tired-dsc-title{
	font-size: 30px;
	line-height: 32px;
	margin: 0;
	margin-bottom: 35px;
	font-family: 'Open Sans', sans-serif;
}
.rf-tired-dsc-rgt h2{
	margin-bottom: 27px;
}
.rf-tired-dsc-lft p{
	margin-bottom: 20px;
}
.rf-tired-dsc-lft p:last-child{
	margin-bottom: 0;
}
.rf-tired-dsc-rgt ul{
	padding: 0;
	margin: 0;
}
.rf-tired-dsc-rgt ul li{
	padding-bottom: 22px;
}
.rf-tired-dsc-rgt a{
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    font-weight: 700;
    background: #C01718;
    border:2px solid #C01718;
    padding: 19px 35px;
    text-transform: uppercase;
    margin-top: 28px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.rf-tired-dsc-rgt a:hover{
	background:transparent;
	color:#C01718;
	border-color: #C01718; 
}

/*
---------------------
rf-two-part-wrp
---------------------
*/
.rf-two-part-wrp{
	margin-bottom: 75px;
}
.rf-two-part-lft{
	width: 50%;
	float: left;
	position: relative;
}
.rf-two-part-lft-img{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
.rf-two-part-rgt{
	width: 50%;
	float: right;
	background:#2a3378;
	padding: 55px 56px 85px 56px;
}
.rf-two-part-rgt .cr-blockcode-slide-item-dsc blockquote{
	margin-bottom: 27px;
}

/*
-----------------------
 rf-services-sec
-----------------------
*/
.rf-services-sec{
	padding: 80px 0 0;
}
.rf-services-sec .hm-services-sec-hdr{
	padding-bottom: 15px;
}
.rf-services-sec .hm-services-item-title{
	text-transform: uppercase;
}
.rf-services-lft{
	width: 53%;
	float: left;
	padding-right: 70px;
	border-right:1px solid #ECECEC;
}
.rf-services-lft ul {
    display: flex;
    justify-content: center;
    margin: 0 -12px;
}
.rf-services-lft ul li {
    width: 50%;
    padding: 0 12px 0 12px;
    float: left;
}
.rf-services-item{
    background: #FFFFFF;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
    padding: 60px 25px 45px;
    text-align: center;
}
.rf-services-item i {
    margin-bottom: 40px;
    min-height: 90px;
    display: block;
}
.rf-services-item p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 35px;
}
.rf-services-item a {
    display: inline-block;
    vertical-align: baseline;
    color: #293377;
    font-weight: 700;
    text-transform: uppercase;
}
.rf-services-item a:hover{
	color: #C01718;
}
.rf-services-rgt{
	width: 47%;
	float: left;
	padding-left: 70px;
}
.rf-warehouse-layout-btns{
	background: #FFFFFF;
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
	padding:125px 40px; 
}
.rf-warehouse-layout-btns ul li{
	padding-bottom: 15px;
}
.rf-warehouse-layout-btns ul li a {
    display: flex;
    align-items: center;
    min-height: 56px;
    width: 100%;
    position: relative;
    background: #293377;
    padding: 15px 40px 16px 30px;
    color: #fff;
    font-weight: 600;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.rf-warehouse-layout-btns ul li a i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 30px;
}
.rf-warehouse-layout-btns ul li a:hover {
    background: #C01718;
}
.rf-warehouse-layout-btns ul li a:hover i {
    right: 25px;
}

/*
-------------------
 Responsive Css
-------------------
*/
@media(max-width: 1599px){
	
}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.rf-brand-logo-title {
	    font-size: 43px;
	    line-height: 43px;
	}
	.rf-brand-logo-sec-wrp {
	    padding-top: 70px;
	    padding-bottom: 90px;
	}
	.rf-tired-dsc-lft {
	    padding-right: 80px;
	}
	.rf-tired-dsc-wrp {
	    padding: 85px 40px 80px;
	}
	.rf-two-part-rgt {
	    padding: 55px 30px 85px 30px;
	}
	.rf-services-lft {
	    padding-right: 40px;
	}
	.rf-services-rgt {
	    padding-left: 40px;
	}
}

@media(max-width: 991px){
	.rf-brand-logo-title {
	    font-size: 38px;
	    line-height: 38px;
	    margin-top: 15px;
	}
	.rf-brand-logo-sec-wrp {
	    padding-top: 60px;
	    padding-bottom: 70px;
	}
	.rf-list-wrp ul li{
		padding-right: 50px;
	}
	.rf-tired-dsc-wrp {
	    padding: 60px 15px 60px;
	}
	.rf-tired-dsc-lft {
	    padding-right: 30px;
	}
	.rf-tired-dsc-rgt a{
		padding: 19px 8px;
	}
	.rf-services-item {
	    padding: 30px 10px 20px;
	}
	.rf-services-item p {
	    margin-bottom: 25px;
	}
	.rf-services-item i {
	    margin-bottom: 25px;
	}
	.rf-services-lft {
	    padding-right: 20px;
	}
	.rf-services-rgt {
	    padding-left: 20px;
	}
}

@media(max-width: 767px){
	.rf-brand-logo-title {
	    font-size: 33px;
	    line-height: 33px;
	    margin-top: 10px;
	}
	.rf-brand-logo-sec-wrp {
	    padding-top: 50px;
	    padding-bottom: 40px;
	}
	.rf-list-sec-wrp{
	    padding-top: 40px;
	    padding-bottom: 10px;
	    position: relative;
	}
	.rf-list-sec-wrp:after{
	    content: "";
	    height: 6px;
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    z-index: 1;
	    background: linear-gradient(270deg, #fafafa 0%, #c0c0c0 25.78%, #929292 49.95%, #e8e8e8 80.25%, #eeeeee 100%);
	    transform: matrix(-1, 0, 0, 1, 0, 0);
	    -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
	    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
	}
	.rf-list-sec-wrp:before{
	    content: "";
	    height: 6px;
	    position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    z-index: 1;
	    background: linear-gradient(270deg, #fafafa 0%, #c0c0c0 25.78%, #929292 49.95%, #e8e8e8 80.25%, #eeeeee 100%);
	    transform: matrix(-1, 0, 0, 1, 0, 0);
	    -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
	    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
	}
	.rf-list-wrp ul {
	    margin: 0 auto;
	    max-width: 230px;
	    width: 100%;
	}
	.rf-list-wrp ul li {
	    padding-right: 0;
	    float: none;
	    display: block;
	    padding-bottom: 35px;
	}
	.rf-tired-dsc-sec-wrp {
	    padding-top: 60px;
	    padding-bottom: 47px;
	}
	.rf-tired-dsc-wrp {
	    padding: 0;
	    display: block;
	    background: transparent;
	}
	.rf-tired-dsc-lft {
	    padding-right: 0;
	    width: 100%;
	}
	.rf-tired-dsc-rgt {
	    width: 100%;
	    padding-top: 50px;
	}
	.rf-two-part-lft {
	    width: 100%;
	    height: 208px;
	}
	.rf-two-part-rgt {
	    padding: 55px 20px 60px 20px;
	    width: 100%;
	}
	.rf-two-part-rgt.mHc,
	.rf-two-part-lft.mHc{
		height: auto !important;
	}
	.rf-two-part-lft-img {
	    position: static;
	    height: 208px;
	}
	.rf-two-part-wrp .cr-blockcode-slide-item-dsc blockquote {
	    margin-bottom: 20px;
	}
	.rf-two-part-wrp {
	    margin-bottom: 35px;
	}
	.cr-leg-sec-wrp .cr-fancy-slider-wrp {
	    padding-bottom: 15px;
	}
	.rf-services-lft {
	    padding-right: 0;
	    width: 100%;
	    border-right: none;
	}
	.rf-services-rgt {
	    padding-left: 0;
	    width: 100%;
	}
	.rf-services-lft ul {
	    display: block;
	    margin: 0;
	}
	.rf-services-lft ul li {
	    width: 100%;
	    padding: 0;
	    margin-bottom: 15px;
	}
	.rf-services-item{
		text-align: left;
	}
	.rf-services-item i{
		margin-bottom: 0;
		float: left;
		padding-right: 10px;
	}
	.rf-services-item i {
	    min-height: 28px;
	    width: 28px;
	    margin-bottom: 0;
		float: left;
		padding-right: 10px;
	}
	.rf-services-sec .hm-services-item-title {
	    float: left;
	    margin-bottom: 0;
	}
	.rf-services-item {
	    padding: 27px 15px 27px;
	}
	

}

@media(max-width: 575px){
	.rf-brand-logo-title {
	    font-size: 28px;
	    line-height: 28px;
	}
}

@media(max-width: 479px){
	.rf-two-part-rgt {
	    padding: 55px 10px 60px 10px;
	}
}

@media(max-width: 359px){

}